* {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
header{
	background-color: #75dbff;
	width: 100%;
	height: 100vh;
}
header #logo-oh:hover{
	color:black;
}
nav#navigation-right {
	background-color: #d94819;
	height: 70px;
}
nav#navigation-right ul li {
	margin-top: 27px;
	float: right;
	display: inline-block;
}
nav#navigation-right ul li:nth-child(1) {
	margin-top: 13px;
	margin-left: 30px;
	font-size: 36px;
	float: left;
}
nav#navigation-right li a {
	margin-right: 30px;
	padding: 10px;
	color: white;
}
nav#navigation-right li a:hover {
	background-color:white;
	color:#d94819;
}
/************************----under navigation------******************/
#imac-home-page {
	width: 100%;
	height: 100%;
	display:inline-block;
}
#imac-image {
	display: inline-block;
	float: left;
	margin : 7% 0 0 7.7%;
	width: 50%;
	max-width: 600px;
	height: auto;
}
#text-home-page {
	width: 40%;
	display: inline-block;
	float:right;
	margin-top: 30vh;
	margin-right: 50px;
	color:white;
	position: absolute;
	text-align: center;
}
#text-home-page p:first-child {
	font-size: 46px;
}
/************************----END under navigation------******************/
#about-page {
	display: block;
	width: 100%;
	height: 100vh;
}
#cloud-about-page {
	display: block;
	float: left;
	width: 50%;
	height: 100vh;
	background-color: #00a9ff;
}
#cloud-about-page img {
	float: left;
	display: block;
	margin-top: 40vh;
	margin-left: 100px;
	max-width: 256px;
	width: 30%;
	height: auto;
}
#portret{
	max-width: 256px;
	width: 100%;
	height: auto;
}
#about-text {
margin-top: 20%;
display: inline-block;
float: right;
width: 50%;
height: 100vh;
color:#d94819;
}
#about-page p:nth-child(2) {
display: block;
margin-top: 200px;
}
#portret {
	display: block;
	width: 100%;
	max-width: 160px;
	height: auto;
	position: absolute;
	margin:0 auto;
}
/**********Skills page************/
#skills-page {
	width: 100%;
	height: 100vh;
	background-color: #75dbff;
}
#skills-page h2 {
	color:white;
	float:right;
	margin-right: 20px;
	font-size: 30px;
}
#skills-page h3 {
	margin-left: 30px;
	padding: 30px;
	color:white;
}
/*****---Portfolio page--------****/
.container {
  margin: auto;
  max-width: 700px;
}
.responsive-image, a {
	padding: 5px ;
	margin: 0 auto;
  max-width: 100%;
}
.cell a img {
			margin-top: 55px;
  display: block;
}
.cell a img:hover {
	background-color: #d94819;
}

@media screen and (min-width: 610px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}
#portfolio-page {
	width: 100%;
	height: 100vh;
	background-color: #00a9ff;
}
#portfolio-page h2 {
	color:white;
	float:right;
	margin-right: 20px;
	font-size: 30px;
}
/*********---END PORTFOLIO PAGE---************/
#contact-page {
	width: 100%;
	height: 100vh;
	background-color:#75dbff;
}
#contact-page h2 {
	color:white;
	float:right;
	margin-right: 20px;
	font-size: 30px;
}
footer {
	width: 100%;
	height: 130px;
	background-color:#d94819; 
}
#navigation-footer {
	text-align: center;
}
#navigation-footer li a {
	color:white;
	font-size: 18px;
}
#navigation-footer li a:hover {
	color:black;
}
footer h5 {
	color: white;
	font-size: 11px;
}
footer img {
	max-width: 50px;
	float: right;
}