* {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
	margin:0;
	padding:0;
}
header{
	background-color: #75dbff;
	width: 100%;
	height: 100vh;
}
header #logo-oh {
	float:left;
	font-size: 36px;
	color:white;
	padding-left:30px;
}
header #logo-oh:hover{
color:black;
}
nav {
	padding: 0;
	margin:0;
	background: #d94819;
	height: 50px
}
li a {
	padding: 20px;
	margin-right: 20px;
	display: inline;
	float:right;
	color: white;
}
li a:hover {
	color:black;
}
#imac-home-page img {
	margin:50px 0px 0px 100px;
}
#ostap-name {
	color:white;
	float:right;
	margin:-100px 100px 0 0;
}
#about-page {
	width: 100%;
	height: 100vh;
}
#cloud-about-page {
	float:right;
	width: 50%;
	height: 100vh;
	background-color: #00a9ff;
}
#about-text {
width: 50%;
height: 100vh;
color:#d94819;
}
#about-page p {
	float:left;
}
#skills-page {
	width: 100%;
	height: 100vh;
	background-color: #75dbff;
}
#skills-page h2 {
	color:white;
	float:right;
	margin-right: 20px;
	font-size: 30px;
}
#skills-page h3 {
	color:white;
}
#portfolio-page {
	width: 100%;
	height: 100vh;
	background-color: #00a9ff;
}
#portfolio-page h2 {
	color:white;
	float:right;
	margin-right: 20px;
	font-size: 30px;
}
#portfolio-page img {
	margin: 60px 0 0 60px;
	padding: 40px;
}