@media (max-width: 610px)
{
	*{box-sizing:border-box}
#navigation-right li a {
		display: none;
											}
#imac-image {
	display: none;
}
#imac-home-page h1{
	font-size: 40px;
}
#imac-home-page h5{
	font-size: 26px;
}
#cloud-about-page {
	display: none;
}
#text-home-page {
margin: 0 auto;
}
#text-home-page {
	width: 100%;
	height: auto;
	max-width: 461.438px;
	text-align: center;
	margin-top:45%;
}
#about-text {
	position: absolute;
	display: block;
	width: 100%;
margin-top: -0.1px;
	font-size: 20px;
}
img#portret {
	position: relative;
	display: block;
	max-width: 160px;
	width: 100%;
}
}